@import "tailwindcss";
@config "../tailwind.config.ts";
@custom-variant dark (&:where(.dark, .dark *));

.dark body{
    color: white;
}

.grid-pattern {
  background-image:linear-gradient(#0000000d 1px,#0000 1px),linear-gradient(90deg,#0000000d 1px,#0000 1px);
  background-size:50px 50px;
  background-attachment: fixed;
  
}
.dark .grid-pattern {
  background-image:linear-gradient(#ffffff1f 1px,#0000 1px),linear-gradient(90deg,#ffffff1f 1px,#0000 1px);
  background-size:50px 50px
}